*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
.wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #c0c7cf;
	background-color: #f9fbfd;
}

.wrapper {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	color: hsl(206, 17%, 28%);
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	border-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
	color: hsl(206, 17%, 28%);
	font-size: 18px;
	margin: 0 auto;
	max-width: 800px;
	padding: 30px 40px;
}

.card-header::after {
	content: " ";
	display: block;
	width: 100%;
	background: #e7e9eb;
	height: 2px;
}

.character-amount-container {
	display: flex;
	align-items: left;
	flex-direction: row;
	margin-top: 10px;
}
.number-input{
	width: fit-content;
}

.card-body {
	min-height: 100px;
	content: " ";
	display: block;
	width: 100%;
}

.card-footer {
	text-align: left;
}

.label-text{
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-footer::before {
	content: " ";
	display: block;
	width: 100%;
	background: #e7e9eb;
	height: 2px;
}

.card-footer::after {
	content: " ";
	display: block;
	clear: both;
}
.options{
	display: flex;
	flex-direction: column;
	margin-top: 10px;

}

.selection{
	margin-top: 5px;
	display: flex;
	justify-content: flex-start;
}

button{
	margin-top: 10px;
	margin-bottom: 10px;
	background:#0084ff;
	color:#fff;
  	border:none;
  	border-radius: 25px;
  	position:relative;
  	height:40px;
  	font-size: 22px;
  	padding:0 2em;
  	cursor:pointer;
  	transition:800ms ease all;
  	outline:none;
	width: 100%;
}
button:hover{
  	background:#fff;
 	color:#0084ff;
}
button:before,button:after{
 	content:'';
 	position:absolute;
 	top:0;
 	right:0;
 	height:2px;
	width:0;
 	background: #0084ff;
 	transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.float-right {
	float: right;
}

.passwordDisplay {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 85px;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px dashed #c0c7cf;
	border-radius: 6px;
	resize: none;
	overflow: hidden;
}

/* Media Queries */
@media (max-width: 690px) {
	.btn {
		font-size: 1rem;
		margin: 16px 0px 16px 0px;
		padding: 10px 8px;
		justify-content: center;
	}

	.password {
		font-size: 1rem;
	}
}

@media (max-width: 500px) {
	.btn {
		font-size: 0.8rem;
		display: flex;
		justify-content: center;
	}
}